<footer>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <ul>
                    <li>
                        <a href="#">О нас</a>
                        <a href="#">О нас</a>
                        <a href="#">О нас</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <ul>
                    <li>
                        <a href="#">О нас</a>
                        <a href="#">О нас</a>
                        <a href="#">О нас</a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <img src="../img/logoblue.svg">
            </div>
            <div class="col-4">
                <i class="fab fa-twitter fa-2x"></i>
                <i class="fab fa-facebook-square fa-2x"></i>
                <i class="fab fa-google-plus-g fa-2x"></i>
                <i class="fab fa-vk fa-2x"></i>
            </div>
        </div>
    </div>
</footer>