<header class="header d-flex align-items-center">
    <div class="container">
        <div class="row upper-info">
            <div class="col text-right">
                <div class="contacts">
                    <a href="tel:+78129885434">+7 (812) 448 49 30</a> <br>
                    <a href="mailto:info@ndenergo.ru">service.rps@mail.ru</a>
                </div>
            </div>
            <div class="col text-left">
                <div class="search">
                    <form action="" method="get">
                        <div class="input-group">
                            <input placeholder="поиск по сайту..." type="search">
                            <div class="input-group-append">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html"><img src="img/logoblue.svg" alt=""></a>
            <div class="new">
                <a class="phone-mobile" href="tel:+78129885434">+7(812)448-49-30</a>
                <div class="srch">
                    <form action="" method="get">
                        <div class="input-group">
                            <input placeholder="поиск по сайту..." type="search">
                            <div class="input-group-append">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle all" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Оборудование
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/service.html">Сервис</a>
                            <a class="dropdown-item" href="/sale.html">Продажа</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service.html">Сервисные работы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/parts.html">Запчасти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about.html">О компании</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts.html">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <button class="ord" data-toggle="modal" data-target="#modal-order">Подать заявку</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
