<div class="modal modal-order fade" id="modal-order" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">оставьте заявку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-order" action="/index.html" method="get">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                        </div>
                        <input type="text" class="form-control" placeholder="Ваше имя*" name="name" id="name" autofocus required>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text text-phone"><i class="fas fa-mobile-alt"></i></div>
                        </div>
                        <input type="tel" class="form-control" placeholder="Контактный телефон*" name="phone" id="phone" required>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                        </div>
                        <input type="email" class="form-control" placeholder="Ваш email" name="mail" id="mail">
                    </div>
                    <div class="more">
                        <input class="form-control" type="text" name="address" id="address" placeholder="Адрес объекта" >
                        <input class="form-control" type="text" name="reason" id="reason" placeholder="Причина вызова">
                        <textarea class="form-control" name="options" id="options" placeholder="Дополнительная информация"></textarea>
                    </div>
                    <textarea class="form-control" name="msg" id="msg" placeholder="Напишите, что Вас интересует..."></textarea>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
                        <label class="form-check-label" for="defaultCheck1">
                            Я не робот!
                        </label>
                    </div>
                    <button type="submit">Отправить</button>
                </form>
            </div>
            <div class="thanks" style="height: 50px; display: none">
                СПАСИБО
            </div>
        </div>
    </div>
</div>