@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body, html {
    font-family: Raleway, sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, ul {
    padding: 0;
    margin: 0;
}

/*______________________________________HEADER_______________________________________*/

header {
    background-image: linear-gradient(to right, rgba(230, 236, 255, 0.71), rgba(191, 221, 255, 0.6)), url('../img/headertest.jpg');
    background-size: cover;
    background-position: center, right bottom;
    background-repeat: no-repeat, no-repeat;
}


.logo {
    width: 150px;
    height: 150px;
    background: url("../img/logoblue.svg") no-repeat center center;
    background-size: contain;
}

.search {
    height: 100%;
}

.search input, .search button {
    font-size: 16px;
    border: none;
    background: rgba(0, 34, 85, 0.71);
    color: #fff;
    height: 40px;
}

.search input {
    padding-left: 10px;
    width: 200px;
    outline: none;
    position: relative;
    transition: .3s linear;
    border-radius: 5px 0 0 5px;
}

.search .input-group {
    width: 100%;
}

.search input:focus {
    width: 250px;
    color: white;
}

.search button {
    border-radius: 0 5px 5px 0;
}

.header-contacts {
    text-align: right;
    padding-top: 15px;
}

.header-contacts a {
    color: #002255;
}

.header-bottom {
    padding: 50px 0;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: #002255;
    //text-transform: uppercase;
}

/*____________________________________SECTION______________________________*/
section {
    padding: 100px 0;
    background: #dee8f3;
}

h4 {
    color: #fff;
    font-size: 30px;
}

a {
    color: #fff;
}
a:hover,
button:hover {
    //color: #a7a7a7;
    color: #72AFD3;
    text-decoration: underline;
}

.margin {
    margin-bottom: 50px;
}

.service {
    perspective: 1000;
    margin: 0 auto;
    padding: 0 10px;
}

.service.hover .flipper, .service:hover .flipper {
    transform: rotateY(180deg);
}

.service, .service-item {
    width: 100%;
    height: 220px;
}


.flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.service-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.service-item.front {
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat, no-repeat;
    border-radius: 5px;
}
.service-item.back {
    transform: rotateY(180deg);
    background-color: #002255;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 1px #000000;
    box-shadow: 0px 0px 3px 1px #000000;
}

.item-01 {
    background-image: linear-gradient(to right, rgba(3, 3, 4, 0.6), rgba(0, 0, 0, 0.53)), url('../img/01.jpg');
}

.item-02 {
    background-image: linear-gradient(to right, rgba(3, 3, 4, 0.6), rgba(0, 0, 0, 0.53)), url('../img/03.jpg');
}

.item-03 {
    background-image: linear-gradient(to right, rgba(3, 3, 4, 0.6), rgba(0, 0, 0, 0.53)), url('../img/02.jpg');
}

.item-04 {
    background-image: linear-gradient(to right, rgba(3, 3, 4, 0.6), rgba(0, 0, 0, 0.53)), url('../img/04.jpg');
}

.item-05 {
    background-image: linear-gradient(to right, rgba(3, 3, 4, 0.6), rgba(0, 0, 0, 0.53)), url('../img/05.jpg');
}

.item-06 {
    background-image: linear-gradient(to right, rgba(3, 3, 4, 0.6), rgba(0, 0, 0, 0.53)), url('../img/06.jpg');
}

.service-item ul {
    list-style: none;
}

.service-item p {
    font-size: 18px;
    color: #c1c1c1;
}
button {
    border: none;
    background: inherit;
    color: #fff;
}

button:focus {
    outline: none;
}

/*____________________________________________MODAL______________________________*/
.modal {
    background: rgba(0, 0, 0, 0.65);
}

.modal-content {
    //border-radius: 0;
    background: #3160a6;
    color: #fff;
    //background: url(../../img/steel.jpg) no-repeat center center;
    //background-size: cover;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-body {
    padding-left: 30px;
    padding-right: 30px;
}

.form-order {
    text-align: center;
}

.more p {
    font-size: 15px;
    margin-bottom: 5px;
}

.more .form-control {
    margin-bottom: 15px;
}
.more {
    display: none;
}

.modal-header h5 {
    text-transform: uppercase;
    margin-left: 20px;
}

.input-group,
textarea.form-control {
    margin-bottom: 15px;
}

.form-control,
.input-group-text {
    border-radius: 0;
    font-size: 20px;
    background: #fff;
    border-left: 0;
}

.text-phone {
    padding-left: 21px;
    padding-right: 23px;
}


input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    background: #fff;
    color: #313131;
    border: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(171, 172, 171, 0.85);
}

.form-check {
    text-align: left;
    margin-bottom: 20px;
}

.form-check-input {
    margin: 0;
    top: 15px;
    left: 5px;
}

.form-check-label {
    font-size: 18px;
}


.modal-footer {
    border-top: none;
    padding-top: 0;
}

.form-order button {
    width: 80%;
    margin: 0 auto;
    border: none;
    padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(114, 175, 211, 0.51);
}

.form-order button:hover {
    color: #fff;
    background: #72AFD3;
}

.footer-index {
    height: 10vh;
    background-color: #002255;
    color: rgba(115,123,111,0.51);
    padding: 10px 0;
}

@media screen and (max-width: 1366px) {
    h1 {
        font-size: 45px;
    }
}
@media screen and (max-width: 1024px) {
    body {
        font-size: 20px;
    }
    h1 {
        font-size: 35px;
    }

    .logo {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 991px) {
    .search input:focus {
        width: 225px;
        color: white;
    }

    .service {
        width: 100%;
    }

    .service, .service-item {
        height: 170px;
    }

    h4 {
        font-size: 25px;
    }


    section {
        padding: 50px 0;
    }

    .margin {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 375px) {
    .logo {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 25px;
    }
}

