header {
  font-size: inherit;
}

.search .input-group,
.srch .input-group {
  margin-bottom: 0;
}
.search input, .search button {
  font-size: 16px;
  border: none;
  background: inherit;
  color: #000;
  height: 40px;
}
.search input {
  padding-left: 10px;
  width: 200px;
  outline: none;
  position: relative;
  transition: .3s linear;
  border-bottom: 2px solid #025;;
}
.search input:focus {
  width: 220px;
  color: inherit;
}
.search button {
  color: #025;
}
.contacts {
  font-weight: bold;
}

a {
  color: #002255;
}

a:hover {
  text-decoration: none;
  color: #72AFD3;
}

.new {
  display: none;
}

.srch {
  //display: inline-block;
  display: none;
}


.navbar {
  padding-bottom: 10px;
}

.navbar-brand img {
  width: 100px;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  margin-right: auto;
}

.navbar-toggler-icon {
  display: inline;
}
.dropdown-menu {
  background: #d3dde4;
  border-radius: 0;
  left: -27px;
  font-size: inherit;
}
.active {
  font-weight: bold;
}
.ord {
  border-radius: 5px;
  border: 1px solid #002255;
  padding: 7px 10px!important;
  background: inherit;
  text-align: center;
}

.ord:hover {
  background: #002255;
  color: #fff;
}


@media screen and (max-width: 991px) {
  .navbar-nav {
    margin: auto;
    text-align: center;
  }
  .nav-item {
    margin-right: 0;
  }
  .navbar-nav .dropdown-menu {
    float: right;
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .upper-info {
    display: none;
  }
  .new {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .navbar-brand img {
    width: 80px;
    height: 80px;
  }
}
