.modal {
  background: rgba(0, 0, 0, 0.65);
}

.modal-content {
  //border-radius: 0;
  background: #3160a6;
  color: #fff;
  //background: url(../../img/steel.jpg) no-repeat center center;
  //background-size: cover;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-header h5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-left: 15px;
}

.modal-body {
  padding-left: 30px;
  padding-right: 30px;
}

.form-order {
  text-align: center;
}

.more p {
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.more .form-control {
  margin-bottom: 15px;
}
.more {
  display: none;
}

.input-group,
textarea.form-control {
  margin-bottom: 15px;
}

.form-control,
.input-group-text {
  border-radius: 0;
  font-size: 20px;
  background: #fff;
  border-left: 0;
}

.text-phone {
  padding-left: 21px;
  padding-right: 23px;
}


input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
  background: #fff;
  color: #313131;
  border: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(171, 172, 171, 0.85);
}

.form-check {
  text-align: left;
  margin-bottom: 20px;
}

.form-check-input {
  margin: 0;
  top: 15px;
  left: 5px;
}

.form-check-label {
  font-size: 18px;
}

.form-order button {
  width: 80%;
  margin: 0 auto;
  border: none;
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(114, 175, 211, 0.51);
}

.form-order button:hover {
  color: #fff;
  background: #72AFD3;
}
