@font-face {
    font-family: Raleway;
    src: url("/fonts/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body, html {
    font-family: Raleway, serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul {
    padding: 0;
    margin: 0;
}

a {
    outline: 0;
}

section {
    padding: 30px 0;
}

img {
    max-width: 100%;
}

.padding {
    padding: 0 50px;
}

/*________________________PATH LINE________________________*/
.path {
    background: #eceeec;
}
.path nav {
    margin-left: 50px;
}

.breadcrumb {
    padding: 10px 0;
    background: inherit;
}


/*____________________________SERVICE PAGE________________________*/

.service_control button {
    display: block;
    background: rgba(114, 175, 211, 0.51);
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    width: 100%;
}

.service_control button:hover,
.service_control button:focus {
    background: #72AFD3;
}
.service_desc {
    padding: 15px;
}

.service_desc h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.service_desc img {
    float: right;
    margin-left: 15px;
    width: 200px;
}

.service_desc ul {
    margin-left: 20px;
}

#s2, #s3, #s4, #s5, #s6, #s7 {
    display: none;
}

.bottom_img {
    width: 100%;
    height: 400px;
    background: url("../../img/2295_72dpi.jpg") no-repeat center center;
    background-size: cover;
}

.bottom {
    padding: 80px 0;
}


/*__________________________SALE PAGE__________________________*/

div.text-container {
  margin: 0 auto;
  width: 75%;
}

.text-content{
  line-height: 1em;
}

.short-text {
  overflow: hidden;
  height: 2em;
}

.full-text{
  height: auto;
}

h1 {
  font-size: 24px;
}

.show-more {
  padding: 10px 0;
  text-align: center;
}
.seller {
    background: #fff;
    border-radius: 5px;
    //border: 1px solid #025;
    padding: 20px;
    box-shadow:0px 11px 9px -7px #000000;
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.seller-grid {
    display: block;
    text-align: center;
}

.seller_lg {
    display: inline-block;
    height: 150px;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.seller-inner-content {
    display: inline-block;
    width: 69%;
    padding: 15px;
    height: auto;

}

.seller-inner-grid {
    display: inline-block;
    width: 100%;
}


.seller h4 {
    margin-bottom: 15px;
}

.seller-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;     /* fallback */
    max-height: 132px;      /* fallback */
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
}


.seller-button {
    float: right;
    width: 150px;
    background: rgba(114, 175, 211, 0.51);
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.seller-button:hover {
    background: #72AFD3;
}

.button-desc {
    display: none;
    float: left;
}

.seller-button-grid {
    width: 85px;
    font-size: 14px;
}

/*___________________________ABOUT__________________________*/
.circle {
    float: left;
    height: 250px;
    width: 250px;
    background: url(../../img/7040_72dpi.jpg) no-repeat center;
    background-size: cover;
    shape-outside: circle();
    clip-path: circle();
    margin: 30px;
}
.circle_var{
    background: url(../../img/Circle_015_72dpi.jpg) no-repeat center;
    background-size: cover;
}
.half_circle{
    float: right;
    height: 250px;
    width: 250px;
    background: url(../../img/7039_72dpi-min.jpg) no-repeat left;
    background-size: cover;
    shape-outside: circle(50% at 100%);
    clip-path: circle(50% at 100%);
    margin: 30px;
}

.circle, .half_circle {
    margin-top: 0;
}

.polygon_left{
    float: left;
    shape-outside: polygon(0 0, 0 100%, 66% 100%);
    clip-path: polygon(0 0, 0 100%, 66% 100%);
    background: url(../../img/Electrolux_Kitchen_72dpi-min.jpg) no-repeat left;
}

.polygon_right {
    float: right;
    shape-outside: polygon(66% 100%, 100% 100%, 100% 0, 0 0);
    clip-path: polygon(66% 100%, 100% 100%, 100% 0, 0 0);
    background: url(../../img/Electrolux_Kitchen_72dpi-min.jpg) no-repeat right;
}

.polygon {
    height: 320px;
    width: 300px;
    background-size: cover;
    shape-margin: 10px;
}

.for800 {
    display: none;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about_card {
    padding: 40px;
    margin-bottom: 40px;
    border: 1px #72AFD3 solid;
    border-radius: 15px;
    background-color: #eceeec;
}

.about_list li{
  list-style: none;
  font-size: 16px;
  margin-left: 15px;
}

.certificate img {
    height: auto;
}



//<-----------------------------------CONTACTS----------------------------------->
.section_title {
    text-align: center;
}
.contact_list li {
    list-style: none;
}

.contact_item {
    padding: 15px 0;
}
.contact_item p   {
    font-size: 20px;
    display: inline-block;
}
.contact_item i {
    margin-right: 30px;
    vertical-align: top;
}

@media screen and (max-width: 1024px) {
    .polygon {
        height: 350px;
    }
}

@media screen and (max-width: 991px) {
    .padding,
    .bottom {
        padding: 0;
    }

    .circle, .half_circle {
        margin-top: 30px;
    }

    .main {
        display: none;
    }

    .for800 {
        display: block;
    }
    .polygon {
        height: 250px;
    }

}

@media screen and (max-width: 767px) {
    .bottom_img {
        height: 300px;
    }
}

@media screen and (max-width: 375px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 0;
    }

    .path nav {
        margin-left: 0;
    }

    .service_desc img {
        display: none;
    }

    .service_control button {
        padding: 15px;
    }

    .about_card {
        padding: 15px;
    }

    .about_list li {
        margin-left: 0;
    }

    .polygon,
    .hr-middle{
       display: none;
    }

    .half_circle {
        margin-right: 10px;
    }

    .img-mid img {
        height: 300px;
    }


}